* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #FFFFFF;
    --text-color: #323238;
    --bg-card: #E1E1E6;
    --card-active: #02799D;

    font-size: 62.5%;
}
.dark-mode:root { 
    --bg-color: #121214;
    --text-color: #FFFFFF;
    --bg-card: #29292E;
    --card-active: #0A3442;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    line-height: 14.8rem;

    color: var(--text-color);
    background: var(--bg-color);

    display: grid;
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
}

main button svg > path {
    fill: var(--text-color);
}

.hide {
    display: none;
}

.clock {
    display: flex;
    margin-bottom: 2rem;
}

.controls {
    display: flex;
    gap: 4rem;
}

button {
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.theme {
    position: absolute;
    top: 0;
    right: 6.4rem;
}

/*cards*/

.cards {
    display: grid;
    gap: 3.2rem;
    grid-template-areas: "A B"
    "C D";
}

.wrapper-card .forest {
    grid-area: "A";
}

.wrapper-card .rain {
    grid-area: "B";
}

.wrapper-card .people {
    grid-area: "C";
}

.wrapper-card .fire {
    grid-area: "D";
}

.wrapper-card {
    position: relative;
}

.wrapper-card button { 
    background: var(--bg-card);
    padding: 4.8rem;
    cursor: pointer;
    border-radius: 2.4rem;
    transition: .4s;    
}

.wrapper-card button.active {
    background-color: var(--card-active);
}

.wrapper-card input {
    position: absolute;
    z-index: 1;

    width: 9rem;

    left: 3.5rem;
    bottom: 1.5rem;
}

.wrapper-card input[type="range"]::-webkit-slider-runnable-track {
    background: var(--text-color);
    height: 0.35rem;
}
  
.wrapper-card input[type="range"]::-webkit-slider-thumb {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.6rem;
    background-color: var(--text-color);
}


